* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a,a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
main {

}

/* navigation */
aside {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: fixed;
    height: 100%;
    width: 220px;
    background-color: rgb(240, 240, 240);
    justify-content: center;
    align-items: center;
    opacity: 1;
    
}

/* content */
.content {
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;
    padding: 75px 20px 10px;
}
.contentHead {
    grid-column: 4 span;
}
.data {
    display: grid;
    justify-items: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.50);
    border-radius: 10px;
}
.data img {
    width: 100%;
    border-radius: 10px;
}
.desc {
    margin: 15px 0px;
    padding: 0px 20px;
}
.desc h4 {
    margin-bottom: 5px;
}
.desc p {
    opacity: 0.7;
}

/* content head */
.contentHead h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding-bottom: 5px;
}
select#page {
    margin-right: 20px;
}
#movieSearch input[type=submit] {
    padding: 5px;
    background-color: rgb(117, 169, 250);
    border-radius: 5px;
    border: 2px solid lightblue;
    color: white;
}
#movieSearch label {
    margin-right: 5px;
}
#movieSearch select {
    font-size: 15px;
    padding: 2px 7px;
    border-radius: 5px;
}
#movieSearch input[type=submit]:hover {
    background-color: rgb(82, 149, 255);
}
/* vote value */
.percent, .lightPerc {
    position: relative;
    justify-self: left;
}
.percent p {
    color: white;
    position: absolute;
    top: -30px;
    left: 14px;
    font-size: 12px;
}
.percent svg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -46px;
}
.percent svg circle {
    width: 100%;
    height: 100%;
    fill: black;
    stroke: #191919;
    stroke-width: 4;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
.percent svg circle:nth-child(2) {
    stroke-dasharray: 107;
    /* stroke-dashoffset: calc(107 - (107 * 50) / 100) */
}
.percent svg circle:nth-child(2) {
    stroke: #00ff43;
}
/* percent box */
.lightPerc svg {
    width: 100px;
    height: 100px;
}
.lightPerc svg circle {
    width: 100%;
    height: 100%;
    stroke: black;
    stroke-width: 7px;
}
.lightPerc svg circle:nth-child(2) {
    stroke-dasharray: 255;
    /* stroke-dashoffset: calc(255 - (255 * 50) / 100) */
}
.lightPerc svg circle:nth-child(2) {
    stroke: #00ff43;
}
.lightPerc p {
    color: white;
    position: absolute;
    top: 34px;
    left: 35px;
    font-size: 12px;
    font-size: 25px;
}
/* lightbox  */

.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: none;
}
.lightboxContent {
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.show {
    display: grid;
}
.lightback {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 5%;
    opacity: 0.4;
}
.lightImg {
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}
.lightImg img {
    width: 80%;
    height: 70%;
    border-radius: 10px;
}
.lightboxClose {
    display: grid;
    justify-self: right;
    color: rgba(255, 255, 255, 1);
}
.lightboxContent {
    display: grid;
    grid-template-columns: 0px 1fr 2fr;
    height: 720px;
}
.lightboxCaption {
    color: white;
    padding-right: 35px;
    display: grid;
    align-content: center;
}
.lightboxCaption *:not(:last-child) {
    margin-bottom: 10px;
}
.lightboxClose::after {
    content: 'x';
    font-size: 20px;
    margin-right: 10px;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    display: grid;
    justify-self: right;
    cursor: pointer;
    position: absolute;
}
@keyframes lightbox {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}